.form_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.form_generator{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: normal; */
    width: 300px;
}

.form_generator input,select,option{
    padding: 5px 10px;
    font-size: 16px; 
    border: none;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.validation_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_btn{
    align-self: center;
    padding: 10px 15px;
    font-size: large;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    background-color: #e5e7eb;
    border: 1px solid #a3a3a3;
    margin-top: 10px;
}

.form_btn:hover{
    background-color: #d1d5db;
}

@media only screen and (max-width: 400px) {

    .form_component{
        font-size: normal;
    }

    .form_generator {
      width: 250px;
      gap: 5px;
    }
  }
