.app{
  padding: 0 160px;
}

.form_container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form_box{
    padding: 20px 30px;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.json_box{
    flex-grow: 1;
    padding: 20px 30px;
    max-height: 590px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 900px) {

  .form_container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {

.app{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;
}
}